<ion-view class=" " style="" id="page16" title="About">
    <ion-content scroll="false"  direction="y" padding="true" class="has-header">
	<!--<ion-scroll zooming="false" direction="y">-->
        <div align="center" style=" width: calc(100% + 0px);" class="">
            <img style=" border-radius: 34px;display: block; margin-left: auto; margin-right: auto;" src="img/tlogo.png" height="auto" width="100%">
        </div>
        <div style="width: 283px; height: 10px;" class="spacer"></div>
        <p class=" " style="font-family:'Lucida Console', Monaco, monospace;color:#31253C; font-weight: normal;font-size:13px;text-align:center;text-align: center;text-justify: inter-word;" id="about-markdown6">
		Telco Valley is one of the leading Voip company at USA.We provide MULTACOM,SOFTLAYER Dedicated & Cloud Linux,Windows Server.Vos3000,VoipSwitch .
		</br>We provide MULTACOM,SOFTLAYER Dedicated & Cloud
Windows Server,Linux Server. Vos3000,VoipSwitch
Core4 billing, LINKSYS Tunnel Client,Website Desing Development & Hosting.</p>
		
		<!--<div style="height: 2px;" class="spacer"></div>-->
        <h2
        class=" " style="color: rgb(15, 29, 92); font-weight: 600; text-align: center;" id="about-heading6">Contact Us</h2>
            <div style="">
                <center>
                     +8801960478384<br/><a href="http://www.telcovalley.us" target="_system">www.telcovalley.us</a>
                </center>
            </div>
         
		<!--</ion-scroll>-->
    </ion-content>
</ion-view>