<ion-view style="" class=" " id="page15" title="ACC Details">
    <ion-content class="has-header" scroll="true" padding="false">
		<div class="row header text-center" >
			<div class="col"><h4 class="stable">Account </br>ID</h2></div>
			<div class="col"><h4 class="stable">Current</br> Balance</h2></div>
			<div class="col"><h4 class="stable">Overdraft</br> Limit</h2></div>				
		</div>
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
		</ion-refresher>
		
		
		<div class="row  text-center"   ng-repeat="data in itemList">
			<div class="col">{{data[1]}}</div>
			<div class="col " ng-class="{assertive: data[3]<0}" ng-model="viewCB">{{data[3]}}</div>
			<div class="col" >{{data[4]}}</div> 
		
		</div>
	<!--	<div class="row  text-center"   ng-repeat="data in reportData">
			<div class="col">{{data.id}}</div>
			<div class="col " ng-class="{assertive: data.asr<0}" ng-model="viewCB">{{data.asr}}</div>
			<div class="col" >{{data.acd}}</div> 
		
		</div>-->
		<!-- <div>{{data.items[0][1]}}</div>-->
		<!--<table>
			<tr>
				<td>ID</td>
				<td>OD</td>
				<td>CB</td>
			<tr ng-repeat="data in itemList">
				<td>{{data[1]}}</td>
				<td>{{data[0]}}</td>
				<td>{{data[3]}}</td>
			</tr>
		</table>-->
	
	</ion-content>
</ion-view>