<ion-view style="" class=" " id="page2" title="ACC Management">
    <ion-content class="has-header" scroll="true" padding="true">
	<ion-scroll zooming="false" direction="y">
        <div style="width: 283px; height: 20px;" class="spacer"></div>
		<a   class=" button  button-large button-full " style="font-weight:500;font-size:200px;" id="aCCManagement-button13" >
		<img ng-src="img/accm.png"/></a>
		  <div style="width: 283px; height: 30px;" class="spacer"></div>
        <div style="margin-right:-20px;">
         <!--   <a class=" button button-positive button-large button-full icon-left ion-android-add " style="left:-10px;font-weight:500;font-size:30px;text-align:left;border-radius:0px 0px 0px 0px;" id="aCCManagement-button13" ui-sref="menu.aCCDetails">ACC Details</a>-->
		 <a class=" button button-positive button-large button-full" style="left:-10px;font-weight:normal;font-size:20px;text-align:center;border-radius:0px 0px 0px 0px;" id="aCCManagement-button13" ui-sref="menu.aCCDetails">Account Details</a>
        </div>
        <div style="margin-right:-20px;">
            <!--<a class=" button button-royal button-large button-full icon-left ion-android-add " style="left:-10px;font-weight:500;font-size:30px;text-align:left;border-radius:0px 0px 0px 0px;" id="aCCManagement-button4" ui-sref="menu.aCCPayment">Payment</a>-->
			<a class=" button button-royal button-large button-full  " style="left:-10px;font-weight:normal;font-size:20px;text-align:center;border-radius:0px 0px 0px 0px;" id="aCCManagement-button4" ui-sref="menu.aCCPayment">Payment</a>
        </div>
        <div style="margin-right:-20px;">
           <!-- <a class=" button button-assertive button-large button-full icon-left ion-android-add " style="left:-10px;font-weight:500;font-size:30px;text-align:left;border-radius:0px 0px 0px 0px;" id="aCCManagement-button5" ui-sref="menu.aCCOverdraft">Over Draft</a>-->
		   <a class=" button button-assertive button-large button-full  " style="left:-10px;font-weight:normal;font-size:20px;text-align:center;border-radius:0px 0px 0px 0px;" id="aCCManagement-button5" ui-sref="menu.aCCOverdraft">Over Draft</a>
        </div>
		<ion-scroll>
    </ion-content>
	
</ion-view>