<ion-view class=" " style="background-color: rgb(219, 219, 221);" id="page12" title="ACC Overdraft">
    <ion-content class="has-header" scroll="false" padding="true">
	<ion-scroll zooming="false" direction="y">
        <form class="list " id="aCCOverdraft-form4">
            <label id="aCCOverdraft-select2" class="item item-select ">
                <span class="input-label">ACC ID</span>
                <select ng-model="input.selectedID"><option ng-repeat="data in itemList" value="{{data[0]}}">{{data[1]}}</option></select>
            </label>
            <label id="aCCOverdraft-input7" class="item item-input ">
                <span class="input-label">Amount</span>
                <input ng-model="input.amount" placeholder="Enter Amount" type="number">
            </label>
            <!--<label id="aCCOverdraft-input8" class="item item-input ">
                <span class="input-label">Memo</span>
                <input ng-model="input.memo" placeholder="Enter Memo" type="text">
            </label>-->
        </form>
        <div style="margin-right:-20px;">
            <button class=" button button-positive  button-full " style="left:-10px;font-weight:600;" id="aCCOverdraft-button7" ng-click="submitData(input)">Submit</button>
        </div>
		<ion-scroll>
    </ion-content>
</ion-view>