<ion-view style="" class=" " id="page18" title="Enter PIN">
    <ion-content class="has-header" scroll="true" padding="true">
	<ion-scroll zooming="false" direction="y">
        <form class="list " id="enterPIN-form8">
            <div style="width: 283px; height: 28px;" class="spacer"></div>
            <ion-list class=" " id="enterPIN-list8">
                <label id="enterPIN-input14" class="item item-input item-stacked-label ">
                    <span class="input-label">PIN</span>
                    <input ng-model="input.pin"  placeholder="Enter PIN" type="text">
                </label>
            </ion-list>
            <div style="width: 283px; height: 28px;" class="spacer"></div>
            <div style="margin-right:-20px;">
                <button class=" button button-positive button-large button-full " style="left:-10px;font-weight:600;" id="enterPIN-button12"  ng-click="save(input)">Log in</a><!--ui-sref="logIn"-->
				
            </div>
			
			
	
		  
        </form>
		
		
		<ion-scroll>
		
    </ion-content>
</ion-view>