<ion-view title="My Switch" id="page20" class=" ">
    <ion-content padding="true" scroll="true" class="has-header">
        <form id="mySwitch-form9">
		    <ion-list>
			
			<div style="height: 50px;" class="spacer"></div>
			<h2 ng-model="activeSwitch" class=" " style=" text-align: center;" id="vOSMaster-heading2">Active Switch</h2>
			<div class="form-group">			
			<!--<h4 ng-model="activeSwitch" class=" " style="font-size:20px;color: white; text-align: center;background-color:rgb(55, 155, 255);" id="vOSMaster-heading1">{{activeSwitch}}</h4>-->
			<button  ng-disabled="true" ng-model="activeSwitch"  style=" width:100%;position: relative;font-weight:600;font-size: 25px;" class="button button-positive button-large ">{{activeSwitch}}</button>
			<label id="mySelect-select2" class="item item-select ">
                <span style=" float:left" class="input-label">Select:</span>
                <select style="float:center" ng-model="input.selectedSwitch" ng-change="changed(input)"><option ng-repeat="data in data2" value="{{data.ip}}">{{data.ip}}</option></select>
            </label>
			<button  ng-click="refresh(input)" style=" width:100%;position: relative;font-weight:600;font-size: 35px;" class="button button-positive button-large ion-android-download"></button>
			</div>
			</ion-list>
			 <div style="height: 40px;" class="spacer"></div>
			<div class="button-bar">
                <button  ng-click="add(input)" ui-sref="menu.logIn" style="font-weight:600;font-size: 35px;" class="button button-dark button-large ion-android-add">
                            
                </button>
                <button  ng-click="edit(input)" ui-sref="menu.logIn" style="font-weight:600;font-size: 35px;" class="button button-dark button-large   ion-edit  ">
                            
                </button>
					<button  ng-click="delete(input)" style="font-weight:600;font-size: 35px;" class="button button-dark button-large ion-android-delete ">
                            
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>

<!-- style="margin-left:20px;"-->