<ion-view style="" class=" " id="page7" title="Online Routing">
    <ion-content class="has-header" scroll="true" padding="false">
	<div class="row header text-center">
		<div class="col"><h4 class="stable">Route ID</h2></div>
		<div class="col"><h4 class="stable">Total Call</h2></div>
	</div>
	<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
	</ion-refresher>
	
	
	<div class="row  text-center"   ng-repeat="data in routingItemList">
		<div class="col">{{data[1]}}</div>
		<div class="col" >{{data[2]}}</div> 
	</div>
	</ion-content>
</ion-view>