$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss";
ion-view,.pane,.view {
	background-color: #ebebec;
}

body.platform-android {
	font-family: 'Poppins', sans-serif;
}

.ionic-body.platform-android {
	font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.tab-item,input,button,select,textarea {
	font-family: inherit;
}

