body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
	 
    
}


/*Background Image*/
.scroll-content{
   /* background: url("img/background.jpg") no-repeat center center fixed; */
   background-color: rgba(0, 56, 168, 0.05);
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;*/
	/*background-color: rgba(0,0,0);*/
	

}


.liveCall .row:nth-child(even) {
	 border-radius: 0px;
	  
    background-color: white;
}
.liveCall .row:nth-child(even) {
	 border-radius: 0px;
	  
    background-color: white;
}
/*<Table>*/
.header .col {
    background-color:#21336a;
	font-weight: bold;
	font-size:small;
	/*border: dotted 1px white;*/
	
	
}

.col {
   /* border: solid 1px white;*/
    /*border-bottom-style: none;*/
    /*border-right-style: none;*/
	
	font-weight: bold;
	font-size:large;
	font-family: Arial, Helvetica, sans-serif
	
   
	
	
}
.scroll
{
	height: 100%;
}
.col:last-child {
	
   /* border-right: solid 1px grey;*/
}

/*.row:last-child .col {
    border-bottom: solid 1px grey;
}*/
.row {
	 
}
.row:nth-child(odd) {   

     border-radius: 0px;
    background-color: #99a9df;
	color: white;
	
}

.row:nth-child(even) {
	 border-radius: 0px;
	  
    background-color: white;
}
.row:first-child {
	border-radius: 0px;
   /* background-color: #00336;*/
    background-color: #21336a;
	
	
	
	
}

/*</Table>*/


/*custom is class added to ion-content*/
 
.side-menu-left {
  background-color:#2f2f30; !important; /* This sets the background color*/
 
 }
 
/*Set the background to transparent for ion-item*/
.side-menu-left .item {
  background-color: #2f2f30;
  
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #2f2f30;/*#666; */  /*Sets colors for top and bottom border*/
  color: #2f2f30;    /*Text color for each item*/
}
 
/*Changes the border for the last item*/
.side-menu-left .item:last-child {
 /* border-bottom: 1px solid #666;*/
}
 
.side-menu-left .item-complex .item-content, .dark .item-radio .item-content {
  background-color: #2f2f30;/*#3f4041;*/
}
 
/*Just makes the type white*/
.side-menu-left h2,
.side-menu-left h3,
.side-menu-left p,
.side-menu-left a {
  color: white;  /*Text color for each item, overrides the color property above*/
}

/*.popup-container {

    background-color: palegoldenrod;

}
.popup {

    border: 5px solid red;

}

.popup-body {

    background-color: white;

    color: #e6b400;

}*/
